body, html {
    height: 100%;
    /* background: rgb(238, 199, 199); */
    overflow: hidden;
    color: #36516D;
    font-size: 16px;
    font-family: 'Avenir', Arial, Helvetica, sans-serif;

    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-gradient {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: url(./grain.png);
}

.side-box {
    height: 100%;
    max-width: 470px;
    padding: 20px;
    position: relative;
    z-index: 5;
}

.side-box-content {
    background-color: #fff;
    border-radius: 40px 40px 10px 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1),
                0 2px 5px 0 rgba(0, 0, 0, 0.15);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    height: 100%;
    position: relative;
    padding-bottom: 60px;
}

    .side-box__title {
        font-size: 32px;
        display: flex;
        align-items: center;
    }

        .side-box__title__icon {
            margin: 0 10px;
            display: inline-block;
            height: 35px;
        }

.instructions {
    margin: 20px 0;
    padding-left: 17px;
    text-align: left;
    color: #8093A6;
    font-size: 15px;
}
    .instructions li {
        margin: 5px 0;
    }

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px 30px;
}

/* Bootstrap ovverides */
.form-control {
    padding: 23px 15px;
}



#offset {
    top: 100px;
    margin-top: 10%;
}

#map {
    height: 100%;
    position: absolute;
    top: 0;
    bottom: -200px;
    left: 0;
    right: 0;
    z-index: 0;
}

#ResultBar {
    position: fixed;
    left: 20px;
    top: 20px;
    background: rgba(255, 255, 255, 0.68);
    border-radius: 10px;
}

@media only screen and (max-width:650px) {
    .results-box {
        position: block;
        left: 15px;
        top: 15px;
        width: 50%;
        background: rgba(255, 255, 255, 0.68);
        border-radius: 10px;
    }
}

.inline-icon {
    vertical-align: bottom;
    font-size: 1.5em !important;
}

.row {
    padding: 10px;
}

.views {
    float: left;
}

/* Add Viewers */

.anim {
    transform: scale(1.5);
}

#viewerBlock {

    float: left;
    left: 20px;
}

.viewerCount {
    -webkit-transition: all .5s;
    transition: all .5s;
}

.viewerCount {
    position: relative;
    top: 20px;
    right: 20px;
    min-width: 40px;
    height: 40px;
    padding: .3em;
    display: inline-block;
    border-radius: 8px;
    line-height: 1em;
    color: #fff;
    text-align: center;
    background: #2979ff;
    /* border-radius: 20px; */
}

.viewerCount span {
    display: block;
    margin: 5px auto;
    font-size: 10px;
}

.viewerCount #occupancy {
    font-size: 32px;
}


/*
index.html
*/


#pseudo-nav {
    margin-top: 10px;
    font-family: "Amarnath", sans-serif;
}

#pseudo-nav ul>li {
    display: inline;
    margin: 20px;
    font-size: 2vh;
}

#pseudo-nav ul>li:hover a {
    color: black;
}

#title>h1 {
    margin-top: 10vh;
    margin-bottom: 2vh;
    font-size: 5vh;
}


img.responsive-img {
    height: 40vh;
}

.img_about {
    border-radius: 20px;
}

#group_add {
    height: 45vh;
    margin-right: auto;
}

#main {
    margin-top: 40px;
}

@media only screen and (max-width:650px) {
    #title>h1 {
        margin-top: 8vh;
    }

    #map_place {
        text-align: center;
        margin-top: -40px;
    }

    #group_add {
        text-align: center;
        margin-top: -30px;
        /* margin-right: auto; */
    }
}