body,
html {
  height: 100%;
  /* background: rgb(238, 199, 199); */
  overflow: hidden;
  color: #36516d;
  font-size: 16px;
  font-family: "Avenir", Arial, Helvetica, sans-serif;

  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* ********** */
/* Index.html */
/* ********** */

.bg-gradient {
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background: url(./grain.png);
}

.side-box {
  height: 70%;
  max-width: 470px;
  padding: 20px;
  position: relative;
  z-index: 5;
}

.side-box-content {
  background-color: #fff;
  border-radius: 40px 40px 10px 10px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
  position: relative;
  padding-bottom: 60px;
}

.side-box__title {
  font-size: 32px;
  display: flex;
  align-items: center;
}

.side-box__title__icon {
  margin: 0 10px;
  display: inline-block;
  height: 35px;
}

.instructions {
  margin: 20px 0;
  padding-left: 17px;
  text-align: left;
  color: #8093a6;
  font-size: 15px;
}

.instructions li {
  margin: 5px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
}

/* ******************* */
/* Bootstrap ovverides */
/* ******************* */
.form-control-padded {
  padding: 23px 15px;
}

.card {
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  z-index: 10;
}

.card-header {
  background-color: transparent;
  border-bottom-color: rgb(238, 238, 238);
}

.card-body {
  padding: 0;
}

a {
  cursor: pointer;
}

/* *********** */
/* MeetMe.html */
/* *********** */
#map {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: -200px;
  left: 0;
  right: 0;
  z-index: 0;
}

.controls {
  position: fixed;
  top: 20px;
  left: 20px;
  max-width: 300px;
  width: 100%;
}

.toggle-btn {
  border: none;
  background: transparent;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1); */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-btn i {
  font-size: 16px;
}

.remove-people-btn {
  font-size: 12px;
  display: flex;
  color: #8093a6;
  align-items: center;
}

.remove-people-btn i {
  font-size: 16px;
}

.result-bar {
  padding: 20px;
}

.viewerCount {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: relative;
  display: inline-block;
  border-radius: 3px;
  font-size: 18px;
  display: flex;
  line-height: 16px;
  align-items: center;
}

.viewerCount i {
  font-size: 22px;
}

.anim {
  transform: scale(1.5);
}

.locations {
  padding: 0;
  list-style: none;
}

.locations p {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.locations i {
  font-size: 20px;
  margin-right: 5px;
  color: rgb(194, 200, 206);
}

/* ******************* */
/* Github badge styles */
/* ******************* */
.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }

  20%,
  60% {
    transform: rotate(-25deg);
  }

  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }

  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }

  .github-corner {
    z-index: 5;
  }
}
